.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 16px;
  padding: 16px;
}

.course-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: 20px;
}

.course {
  display: flex;
  justify-content: center;
}

.example-card {
  max-width: 400px;
  width: 100%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.ptext {
  color: #f0f0f0 !important;
  font-family: Helvetica, "Helvetica Neue", Roboto, sans-serif;
  font-size: 16px;
}
